<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />            
    <title>GAD MUNICIPAL DEL CANTON SAN JACINTO DE YAGUACHI</title>
  </head>
  <body>
     <div>
        <form action="reversarrefund" method="post">
           <label for="text">Id Transacción<label>
           <input type="text" name="text" id="text" required></input>
           <button type="submit">Reversar</button>
        </form>
    </div>
  </body>
</html>
